<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title> Admin </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" type="text/css">
    </head>
    <body>
        <p class="blood-amounts-title"> Current Blood Levels </p>
        <table class="blood-amounts-table">
            <tr>
                <th class="b-type-title"> Type </td>
                <th class="b-amount-title"> Amount (ml) </td>
                <th class="b-type-status"> Status </th>
            </tr>
            {% for b_type, b_amount in amounts.items() %}
            <tr>
                <td class="b-type"> {{ b_type }} </td>
                <td class="b-amount"> {{ b_amount}} </td>
                {% if b_amount < threshold[b_type] %}
                    <td class="b-status-critical"> Critical </td>
                {% else %}
                    <td class="b-status-ok"> Normal </td>
                {% endif %}
            </tr>
            {% endfor %}
            <br>
        </table>
        <p class="blood-amounts-title"> Donor Samples </p>
        <div class="samples-table">
            <table class="blood-amounts-table">
                <tr>
                    <th> Donor ID </th>
                    <th> Blood Type </th>
                    <th> Location </th>
                    <th> Use By Date </th> 
                    <th> Amount (in ml) </th>
                </tr>
                {% for i in donor_list %}
                <tr>
                    <td> {{ i[0] }} </td>
                    <td> {{ i[1] }} </td>
                    <td> {{ i[2] }} </td>
                    <td> {{ i[3] }} </td>
                    <td> {{ i[4] }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <p class="blood-amounts-title"> Donors with abnormalities </p>
        <table class="blood-amounts-table">
            <tr>
                <th class="abn-name"> Name </th>
                <th class="abn-contact"> Contact Info </th>
            </tr>
            {% for i in abn_donors %}
            <tr>
                <td> {{ i[0][:1] }}. {{ i[0].split()[1] }} </td>
                <td> {{ i[1] }} </td>
            </tr>
            {% endfor %}
        </table>
        <script src="" async defer></script>
    </body>
</html>