<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <title> Donor Information </title>
        <!-- <meta name="description" content=""> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" type="text/css">
    </head>
    <body>
        <p> Donation Entry </p>
        <!-- <script src="" async defer></script> -->
        <p style ="text-style:justify">Donor ID:
        <input type = "text" id = "donor_id" style = "float:middle"></p>
        <p style ="text-style:justify">Blood Type:
        <select>
        <option value="apos">A+</option>   
        <option value="aneg">A-</option> 
        <option value="bpos">B+</option> 
        <option value="bneg">B-</option> 
        <option value="opos">O+</option> 
        <option value="oneg">O-</option> 
        <option value="abpos">AB+</option> 
        <option value="abneg">AB-</option>      
        </select>        
        </p>
        <p style ="text-style:justify">Quantity of blood donated:
        <input type = "text" id = "blood_amount" style = "float:middle"></p>
        <p style ="text-style:justify">Location of blood donation:
        <input type = "text" id = "location_of_donation" style = "float:middle"></p>
        <p style ="text-style:justify">Date of donation:
        <input type = "text" id = "donation_date" style = "float:middle"></p>
        <input type = "submit" value = "Enter donation" style = "float:middle">
    </body>
</html>
