<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <title> Donor Information </title>
        <!-- <meta name="description" content=""> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" type="text/css">
    </head>
    <body>
        <form method = "POST">
            <p> Donation Entry </p>
            <!-- <script src="" async defer></script> -->
            <p style ="text-style:justify">Donor ID:
            <input type = "text" name = "donor_id" style = "float:middle" required></p>
            <p style ="text-style:justify">Blood Type:
            <select name = "blood_type">
            <option value="A+">A+</option>   
            <option value="A-">A-</option> 
            <option value="B+">B+</option> 
            <option value="B-">B-</option> 
            <option value="O+">O+</option> 
            <option value="O-">O-</option> 
            <option value="AB+">AB+</option> 
            <option value="AB-">AB-</option>      
            </select>        
            </p>
            <p style ="text-style:justify">Quantity of blood donated:
            <input type = "text" name = "blood_amount" style = "float:middle" required></p>
            <p style ="text-style:justify">Location of blood donation:
            <input type = "text" name = "location_of_donation" style = "float:middle" required></p>
            <p style ="text-style:justify">Date of donation:
            <input type = "date" name = "donation_date" style = "float:middle" required></p>
            <input type = "submit" value = "Enter donation" style = "float:middle">
        </form>
    </body>
</html>
