<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title> General Info </title>
        <!-- <meta name="description" content=""> -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
    </head>
    <body>
        <h2 class="gen-info-main-title"> General information about blood donation </h3>
        <h4 class="gen-info-title"> One third of blood donations can help treat people with Cancer </h5>
        <p class="gen-info-points"> Blood is surprisingly versatile. The blood you donate can be made into 22 different medical treatments.</p>
        <h4 class="gen-info-title"> Every blood donation can help save three lives</h5>
        <p class="gen-info-points"> People of all walks of life need blood products. Some need it to get them through a serious event in their lives, like cancer or a difficult pregnancy. Others have medical conditions which mean they need blood products regularly to stay alive or be healthy.</p>
        <h4 class="gen-info-title"> Where to donate blood? </h4>
        <p class="gen-info-points"> You can donate blood in the following clinics:</p>
        <p class="gen-info-points"> 
            468 Scelerisque Rd <br>
            3150 Tortor Rd <br>
            551-359 Scelerisque St <br>
            480-3907 Lacinia Road <br>
            980-6373 Eleifend Av <br>
            3164 Elementum St <br>
            114-3295 Natoque St <br>
            894-6475 Duis Street <br>
            7506 Elit, Rd <br>
            606-4667 Lectus Av <br>
            5639 Sociis Ave <br>
            2947 Mauris Street <br>
            8138 Nulla Av <br>
            835-8098 Pretium St <br>
            9913 Vestibulum Avenue <br>
            912-1903 Aliquam Road <br>
            6562 Elementum Avenue <br>
            3449 Aliquam Rd <br>
            838-3649 At Ave <br>
            491 Turpis Rd</p>
        <!-- <script src="" async defer></script> -->
    </body>
</html>