<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title> Vampire Pty. Ltd.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" type="text/css">
    </head>
    <body>
        <p class="homepage-title"> Vampire Pty. Ltd.</p>
        <div class="main-buttons">
            <button type="button" class="admin-button" onclick='location.href="http://127.0.0.1:5000/admin"'> Admin </button>
            <button class="med-facility-button" onclick='location.href="http://127.0.0.1:5000/medfacility"'> Medical Facility </button>
            <button class="donor-button" onclick='location.href="http://127.0.0.1:5000/donor"'> Donor </button>
        </div>
        <!-- <script src="" async defer></script> -->
    </body>
</html>