<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title> Donor Information </title>
    <!-- <meta name="description" content=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}" type="text/css">
</head>

<body>
    <p> Medical Facility - Make request </p>
    <!-- <script src="" async defer></script> -->
    <form method=post action="{{ url_for('medfacility') }}">
    
        <p style ="text-style:justify">Medical Facility ID
        <input type = "text" name="facility_id" style = "float:middle" ></p>
        <p style ="text-style:justify">Blood Type:
        <select name="blood_type">
        <option value="A+">A+</option>   
        <option value="A-">A-</option> 
        <option value="B+">B+</option> 
        <option value="B-">B-</option> 
        <option value="O+">O+</option> 
        <option value="O-">O-</option> 
        <option value="AB+">AB+</option> 
        <option value="AB-">AB-</option>      
        </select>        
        </p>      

        <p style ="text-style:justify">Blood Amount:
        <input type = "text" name="blood_amount" style = "float:middle"></p>
        <p style ="text-style:justify">Request Type:
        <select name="request_type">
        <option value="Emergency">Emergency</option>   
        <option value="nonemergency">Non Emergency</option> 
        </select>
    	</p>
        <input type = "submit" value = "Make Request" name="submit" style = "float:middle">
    </form>
</body>

</html>